.git/*
env/
venv/
.venv
.venv/

__pycache__/
*.py[cod]

.idea
.DS_Store
.AppleDouble
.LSOverride

*.sublime-project
*.sublime-workspace

static/
media/

db.sqlite3

htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover
tests/__init__.py
tests/test_content.py
tests/test_routes.py
tests/test_logic.py
